/* Definindo estilos para o header */
#header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  /* Definindo estilos para o formulário */
  #form-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    padding: 20px;
    border-radius: 5px;
  }
  
  label {
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="number"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 10px;
  }
  
  button {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #333;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  /* Definindo estilos para a tabela */
  table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #333;
    color: white;
  }
  
  /* Estilo para linhas ímpares */
  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  